.thumbnail img {
    max-width: 210px;
    /*max-width: 140px;*/
    max-height: 230px;
  }

  .bg {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .category {
    position: relative;
    /*left: 10%;*/
  }

  .nav-link.active {
    color: #46AE49!important;
  }

  .jumbotron {
    background: rgb(46, 34, 98);
    background: linear-gradient(180deg, rgba(46, 34, 98, 1) 0%, rgba(89, 32, 96, 1) 100%);
    border-radius: 0rem;
  }

  .jumbotron1 {
    background: rgb(46, 34, 98);
    background: linear-gradient(0deg, rgba(46, 34, 98, 1) 0%, rgba(89, 32, 96, 1) 100%);
    border-radius: 0rem;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    height: 140px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: -150px; /* negative value of footer height */
    /*height: 150px;*/
    clear:both;
  }
html, body {
height: 100%;
}    
footer{
position: fixed;
}
  .jumbotron-heading {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 24px;
  }

  .nav-item {
    font-size: 24px;
  }

  .smallText {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 22px;
    line-height: 22px;
    font-weight: normal;
  }

  .jumbotron {
    padding: 1rem 2rem;
    margin-bottom: 0rem;
  }

  .bg-dark {
    background-color: #2e2262 !important;
  }

  .btn-outline-success {
    color: #ffffff;
    background-color: #46ad00;
    background-image: none;
    border-color: #28a745;
  }

  .btn-success {
    background-color: #46ad00;
    border-radius: 0px;
    width: 100%;
    height: 100%;
  }

  /*Card Background Color*/
  /*.card-body {*/
  /*  background-color: #F8F8F8;*/
  /*}*/
  /*Card Background Color and Transparency*/
  .card {
    background-color: rgba(245, 245, 245, 0.8);
  }

  .card-header,
  .card-footer {
    opacity: 1
  }

  .btn-link {
    text-transform: none;
    color: white;
    font-size: 20px;
  }

  .launchBtn {
    margin-top: 18px;
  }

  .image {
    position: relative;
    margin-bottom: 0px;
    width: 100%;
  }

  .image h2 {
    position: absolute;
    top: 225px;
    left: 0;
    width: 100%;
  }

  .image h2 span {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: #46ad00;
    background: rgba(70, 173, 0, 0.7);
    padding: 12px 50px;
    font-size: 24px;
  }

  .pb-5,
  .py-5 {
    /*padding-bottom: 0rem !important;*/
    padding-top: 1.8rem !important;
  }

  .col-md-2-5 {
    width: 100%;
    height: 100%;
    margin-right: 15px;
  }
  .bg-lighter {
    background-color: transparent !important;
  }
  
/*footer fix?    */
.carma {
overflow:auto;
padding-bottom:150px; /* this needs to be bigger than footer height*/
}