.about-container {
    max-width: 64%;
}

.siteWrap{
    min-height: calc(100vh - 57px);
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0;
}



.menu {
    display: block;
}

.header .logo img {
    padding-top: 0;
    margin-right: 0;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
}