/*----- Clearfix: Force an Element not to collapse -----*/
// .clearfix:after {
//     content: "";
//     display: table;
//     clear: both;
//   }

// #wrapper {
//   min-height: 100vh;
// }

html{
  overflow-y: scroll;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  // background-image: url("../assets/text_bg.jpg");
  background-image: url("../assets/LIghtBg.png");
}

/* index.html  */ 

.pageTitle {
  padding-top: 10vh;
  text-align: center;
  font-size: 1.5rem;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  // padding-top: 20vh;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 15vh;
}

.yearCard {
  height: 425px;
  width: 200px;
  margin: 1%;  
  box-shadow: 0 4px 4px rgba(0,0,0,0.12);

  a{
    text-decoration: none;
    color: white;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  h3 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    display: block;
    background-color: rgba(0, 100, 0, 0.788);
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    top: -128px;
  }
}

footer {
  color: lightgrey;
  background-color: #2E2261;
  font-weight: lighter;
  text-align: center;
  font-size: .75rem;
  padding: 1rem 0;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

footer p{
  margin: 0;
}

.contentwrapper {
  // border: solid red;
  max-width: 86%;
  margin: 0 auto;
  h1 {
    padding-top: 15vh;
    margin: 0;
  }
  h2{
    font-size: 1.2rem;
  }
  margin-bottom: 5vh;
}

// #permissionWrapper {
//   margin-bottom: 65vh;
// }

//////////////
.about-container{
  max-width: 84%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(250px,auto);
  gap: 10px;
  margin-bottom: 0 !important;
}

.carma-photo{
  justify-self: center;
  align-self: center;
  margin-top: 5px;
}

#test {
  padding-top: 20vh;
  margin: 0;
}

// #bottomFoot
// {
//   //position: fixed;
//   //bottom: 0;

  
  
// }