@import "normalize";
@import "small";
@import "./components/index";
@import "./components/navbar";
@import "./components/costumes";
@import "./components/downloads";
@import "./components/contact";

@media only screen and (min-width: 30rem) {
    @import "medium";
} /* end of media query */

@media only screen and (min-width: 60rem) {
    @import "large";
} /* end of media query */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}