<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='./favicon.ico' />
    <link href="scss/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,900&display=swap" rel="stylesheet">
</head>

<body>
<div class="siteWrap">
    <header class="header">
        <div class="flexer2">
          <a href="./index.html" class="logo"><img src="./assets/hatlogo.png"></a>
          <input class="menu-btn" type="checkbox" id="menu-btn" />
          <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        </div>
    
        <ul class="menu">
            <li><a href="./about.html">About</a></li>
            <li><a href="./costumes.html">Costumes</a></li>
            <li><a href="./contact.html">Contact</a></li>
            <li><a href="./permissions.html">Permissions</a></li>
            <li><a href="./download.html">View the Book</a></li>
        </ul>
    </header>

    <div class="contentwrapper">
        <h1>About Carma</h1>
        <hr>
    </div>

    <section class="about-container">
        <img class="carma-photo" src="assets/carmaPhotograph.jpg" alt="Photo of Carma">
        <aside id="aside1">
            <p>All her life, Carma de Jong Anderson was fascinated with historical costumes. As she grew to maturity,
                her interest focused on clothing of the 1800s. On numerous occasions she was asked by the Church of
                Jesus Christ of Latter Day Saints to consult with them on the restoration of historic sites of the
                Church, and the dressing of the docents there who represented families of those decades. Unfortunately,
                modern artists are not very familiar with authentic clothing worn by the people of the 1800s. Their
                paintings and illustrations often depict wild guesses as to what was worn.</p>
            <p>So Carma took it upon herself
                for over 40 years to travel extensively to museums, art galleries, historic sites, and to pour through
                images in antique books and magazines collecting detailed images of what people in the 1800s really
                wore. She earned a Ph.D. at BYU with a large, 3 volume doctoral dissertation showing what she had
                learned. Limited to a printing of only 6 three-volume copies, It was much in demand with artists in and
                outside of the Church of Jesus Christ LDS. She was asked to update it, enlarge it, and eventually put it
                online so anyone in the world could see the results of her decades of research, showing over 2000 images
                of correct clothing for each decade from the late 1820s to the 1870s.</p>
            <p> This particular file deals with the 1829s to 1849s, when illustrations, paintings, and daguerreotypes
                were almost the only methods of
                visual recording from 1830 to 1860 when better means of photography became available. Each decade in
                this file begins with images of men and families, then women, then children, from basic clothing to hair
                styles to accessories. Each category begins with fashions of ordinary, laboring people, then of
                wealthier people. When all categories have been added to the website, anyone, anywhere will have access
                to authentic images of clothing of much of the 1800s.</p>
        </aside>
        <aside id="aside2">

        </aside>
        <aside id="aside3">


        </aside>

    </section>



</div>
    <footer>
        <p>1800Clothing.org &copy; 2018-2021</p>
</footer>



<script type="text/javascript" src="./script.js"></script>
</body>

</html>