<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="./scss/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400&display=swap" rel="stylesheet">
</head>

<body>
<div class="siteWrap">
    <header class="header">
        <div class="flexer2">
          <a href="./index.html" class="logo"><img src="./assets/hatlogo.png"></a>
          <input class="menu-btn" type="checkbox" id="menu-btn" />
          <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        </div>
    
        <ul class="menu">
            <li><a href="./about.html">About</a></li>
            <li><a href="./costumes.html">Costumes</a></li>
            <li><a href="./contact.html">Contact</a></li>
            <li><a href="./permissions.html">Permissions</a></li>
            <li><a href="./download.html">View the Book</a></li>
        </ul>
    </header>


    <div class="contentwrapper">
        <h1>New Contributions or Copyright Claims</h1>
        <hr>
        <h2>1800clothingCatalog@gmail.com</h2>
        <p><strong>If you would like to contribute an image and description to 1800clothing.org, please send an email
                with the following:</strong></p>
        <p>Contributor Name:</p>
        <p>Email Address:</p>
        <p>Phone # (for clarification and questions)</p>
        <p>Attatch image in full size</p>
        <p>Date of clothing in image: 18__</p>
        <p>Description of clothing in image</p>
        <p>Who owns this image?</p>
        <p>Is it copyright free?</p>
        <p>Will the owner give permission for 1800costumes.org to display this image for no cost?</p>
        <p><strong>For copyright claims tell us the image in question and if you would like for it to be removed from
                the site</strong></p>
    </div>
</div>
    <footer>
        <p>1800Clothing.org &copy; 2018-2019</p>
    </footer>



    <script type="text/javascript" src="./script.js"></script>
</body>

</html>