<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,900&display=swap"
      rel="stylesheet"
    />
    <link href="scss/styles.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <title>Downloads</title>
  </head>
  <body>
    <div class="siteWrap">
      <header class="header">
        <div class="flexer2">
          <a href="./index.html" class="logo"
            ><img src="./assets/hatlogo.png"
          /></a>
          <input class="menu-btn" type="checkbox" id="menu-btn" />
          <label class="menu-icon" for="menu-btn"
            ><span class="navicon"></span
          ></label>
        </div>

        <ul class="menu">
          <li><a href="./about.html">About</a></li>
          <li><a href="./costumes.html">Costumes</a></li>
          <li><a href="./contact.html">Contact</a></li>
          <li><a href="./permissions.html">Permissions</a></li>
          <li><a href="./download.html">View the Book</a></li>
        </ul>
      </header>
      <div class="downloadsBody">
        <h1>View the book</h1>
        <p>Click on any decade to view its PDF</p>
        <div class="downloadLinks">
          <a href="./pdf/1800-1819Clothingtrends.pdf" target="blank"
            ><div class="downloadBtn">1800-1820</div></a
          >
          <a href="./pdf/1820-1829ClothingTrends.pdf" target="blank"
            ><div class="downloadBtn">1820-1830</div></a
          >
          <a href="./pdf/1830sClothingTrends.pdf" target="blank"
            ><div class="downloadBtn">1830-1840</div></a
          >
          <a href="./pdf/1840clothes_and_hair.pdf" target="blank"
            ><div class="downloadBtn">1840-1850</div></a
          >
        </div>
      </div>
    </div>

    <script type="text/javascript" src="./script.js"></script>

    <footer>
      <p>1800Clothing.org &copy; 2018-2019</p>
    </footer>

  </body>
</html>
