<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="carma/templates/scss/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400&display=swap" rel="stylesheet">
    <header class="header">
        <a href="carma/templates/costumes.html" class="logo"><img src="carma/templates/assets/hatlogo.png"></a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
        <li><a href="http://www.1800clothing.org">Home</a></li>
          <li><a href="carma/templates/costumes.html">Costumes</a></li>
          <li><a href="carma/templates/about.html">About</a></li>
          <li><a href="carma/templates/contact.html">Contact</a></li>
          <li><a href="carma/templates/permissions.html">Permissions</a></li>
        </ul>
</header>
<body>
    <main>
<h1>View the book</h1>
<h2>click on any decade to view its PDF</h2>
<div class="download">
<p>1800-1820</p>
<p>1820-1830</p>
<p>1830-1840</p>
<p>1840-1850</p>
<p>1850-1860</p>
<p>1860-1870</p>
<p>1870-1880</p>
<p>1880-1890</p>
</div>
</main>
</body>
</head>
</html>
</body>