$navColor: #2E2260;

// animations
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1}
}
@keyframes fadeInMoveUp {
    from {opacity: 0; margin-top: 50px;}
    to {opacity: 1; margin-top: 0;}
}

.appGrid {
    display: grid;
    grid-template-columns: 250px 1fr;
    padding-top: 58px;
    //min-height: calc(100vh - 103px);
    min-height: calc(100vh - 45px);

    .searchArea {
        padding: 20px;
        padding-right: 0;
        position: absolute;
        top: 58px;
        font-weight: 300;
        
        input[type="text"] {
            padding: 8px;
            border: 1px solid grey;
            border-radius: 5px;
        }

        h5 {
            font-size: 23px;
            margin: 10px 0;
        }

        .decadeRadio {
            font-size: 15px;
            padding: 4px 0;
            padding-top: 0;
            input {

            }
            label {

            }
        }

        .filterCheck {
            font-size: 15px;
            padding: 4px 0;
            padding-top: 0;

            input[type="checkbox"] {

            }
            label {

            }
        }
    }
    .costumeArea {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: 0 auto;
        padding-right: 20px;
        max-width: 1500px;
        padding: 20px;
        //overflow: scroll;
        align-items: center;

        .costumes {

            .costumeCard {
                margin: 5px;
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                border: 3px solid rgba(199, 199, 199, 0.089);
                -webkit-box-shadow: 10px 10px 31px -23px rgba(0,0,0,0.43);
                -moz-box-shadow: 10px 10px 31px -23px rgba(0,0,0,0.43);
                box-shadow: 10px 10px 31px -23px rgba(0, 0, 0, 0.685);
                cursor: pointer;

                .card-body {
                    text-align: center;
                    padding: 15px;

                    .cardImg {
                        max-width: 200px;
                        max-height: 200px;
                        border-radius: 5px;
                    }
                    .cardText {
                        font-weight: 400;
                        font-size: 20px;
                        padding: 15px;
                        margin: 0;
                        text-align: left;
                    }
                    .cardTags {
                        display: block;
                        text-align: center;
                        //padding-left: 10px;
                        .cardTag {
                            background-color: rgb(223, 223, 223);
                            color: rgb(24, 24, 24);
                            padding: 5px;
                            margin-right: 5px;
                            font-size: 12px;
                            border-radius: 5px;
                            display: inline-block;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
    .pagination {
        width: 100%;
        grid-column: 1 / span 2;
        text-align: center;

        button {
            padding: 7px 10px;
            display: inline-block;
            margin: 0 3px;
            cursor: pointer;
        }
        .paginationNextPrev {

        }
        .paginationBtn {

        }
    }
}

.popup {
    display: fixed;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    top: 0;
    background-color: rgba(0, 0, 0, 0.61);
    animation-name: fadeIn;
    animation-duration: 0.3s;
    

    .popupContent {
        opacity: 0; // do this for animation
        background-color: white;
        background-image: url("../assets/LIghtBg.png");
        width: 1000px;
        border-radius: 10px;
        padding: 30px;

        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;

        animation-name: fadeInMoveUp;
        animation-delay: 0.1s;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;


        .popupHeader {
            position: relative;

            h5 {
                margin: 0;
                font-size: 30px;
                padding-bottom: 30px;
                padding-right: 30px;
                font-weight: 900;
            }

            .closeButton {
                position: absolute;
                right: 0;
                cursor: pointer;
            }
        }
        .popupGrid {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 20px;

            .fullsize {
                
                img {
                    max-width: 400px;
                    max-height: 500px;
                    border-radius: 10px;
                }
                .fullsizeLink {
                    padding-top: 20px;
                }
            }
            .popupFooter {
                font-size: 17x;
                line-height: 1.2;
                div {
                    padding-bottom: 20px;
                }
            }
        }
    }
}

// MEDIA QUERIES

@media only screen and (max-width: 1465px) {
    .appGrid {
        .costumeArea {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
@media only screen and (max-width: 1211px) {
    .appGrid {
        .costumeArea {
            grid-template-columns: 1fr 1fr;
        }
    }
    .popup {
        .popupContent {
            width: 800px;

            .popupHeader {
                h5 {
                    font-size: 25px;
                }
            }
            .popupGrid {
                .fullsize {
                    img {
                        max-width: 250px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 927px) {
    .appGrid {
        .costumeArea {
            grid-template-columns: 1fr;
        }
    }
    .popup {
        .popupContent {
            width: auto;
            margin: 20px;

            .popupHeader {
                h5 {
                    font-size: 20px;
                }
            }
            .popupGrid {
                .fullsize {
                    img {
                        max-width: 200px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 593px) {
    .appGrid {
        grid-template-columns: 1fr;

        .costumeArea {
            padding: 10px;
        }
    }
    .popup {
        .popupContent {
            width: auto;
            margin: 20px;

            .popupHeader {
                h5 {
                    font-size: 20px;
                }
            }
            .popupGrid {
                grid-template-columns: 1fr;
                .fullsize {
                    img {
                        
                    }
                }
            }
        }
    }
}